apiVersion: apps/v1
kind: Deployment
metadata:
  name: diamond-app-deployment
  labels:
    app: diamond-app
  namespace: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: diamond-app
  template:
    metadata:
      labels:
        app: diamond-app
    spec:
      containers:
      - name: diamond-app
        image: harshpatel4877/diamond-webapp
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 5000
        readinessProbe:
          httpGet:
            path: /
            port: 5000
